* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	/*overflow: hidden;*/
	font-size: 12px;
	font-family: "微软雅黑";
}

::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}

.box{
	width: 100%;
	height: 100vh;
	position: relative;
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

i {
	font-style: normal;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.top_floor_head {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
}

.head,.hide_head {
	width: 1300px;
	height: 78px;
	margin: 0 auto;
	overflow: hidden;
}

.hide_box{
	width: 100%;
	height: 78px;
	background: #FFFFFF;
	z-index: 99999999999999999;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.shangxing_logo {
	float: left;
	margin-top: 14px;
	cursor: pointer;
}

.head_nav {
	float: right;
	overflow: hidden;
	margin-top: 14px;
	overflow: hidden;
}

.head_nav li {
	float: left;
	color: #ffffff;
	font-family: arial;
	font-size: 18px;
	width: 155px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

.head_nav li:last-child {
	width: 160px;
	height: 34px;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	margin-left: 30px;
	font-size: 18px;
	line-height: 34px;
	margin-top: 7px;
}

.top_floor_words {
	width: 630px;
	height: 228px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -114px 0 0 -315px;
	margin-left: -315px;
	/*margin-top: -114px;*/
	z-index: 99999;
}

.words1 {
	color: #ffffff;
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 30px;
	line-height: 45px;
}

.boder_top {
	width: 170px;
	height: 50px;
	margin: 0 auto;
	border-top: 1px solid #ffe300;
	margin-top: 10px;
}

.words2 {
	color: #ffffff;
	border: 2px solid #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 30px;
	line-height: 114px;
	text-align: center;
}

@keyframes myfirst {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

.more_arrow {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 85vh;
	margin-left: -30px;
	z-index: 99999;
	animation: myfirst 2s linear infinite alternate;
	cursor: pointer;
}

.catalog {
	width: 100%;
	height: 100%;
	/*height: auto;*/
	background: #FFFFFF;
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	left: 0;
	top: 100vh;
	background: #FFFFFF;
	z-index: 9999999;
}

.black_ li {
	color: #000000;
	height: 48px;
	border-bottom: 2px solid #ffffff;
}

/*.border_bottom1:hover{
	border-bottom: 2px solid #a0a0a0 !important;
}*/

.black_ li:first-child {
	border-bottom: 2px solid #000000;
}

.black_ li:last-child {
	border: 1px solid #000000 !important;
}

.black_ li a{
	display: block;
	width: 100%;
	height: 48px;
	color: #000000;
}

.ability{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.ability_title{
	color: #000000;
	font-family: arial;
	font-weight: bold;
	font-size: 44px;
	line-height: 66px;
	text-align: center;
	margin-top: 60px;
}

.ability_boder_top{
	width: 100px;
	height: 70px;
	margin: 0 auto;
	border-top: 1px solid #00a6c1;
}

.ability_box1{
	width: 1300px;
	height: 420px;
	margin: 0 auto;
	overflow: hidden;
}

.ability_img{
	float: left;
	width: 325px;
	height: 420px;
	position: relative;
}

.ability_img img{
	width: 100%;
	height: 100%;
}

.motion{
	width: 325px;
	height: 840px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999999;
	transition: transform 1s;
}

.motion:hover{
	transform: translateY(-420px);
}

.add_motion{
	
}

.ability_img_icon{
	width: 325px;
	height: 420px;
	overflow: hidden;
}

.ability_img_icon img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	margin-top: 103px;
}

.ability_img_icon div:nth-child(2){
	font-size: 32px;
	line-height: 36px;
	color: #FFFFFF;
	font-family: "microsoft yahei";
	text-align: center;
	margin-top: 20px;
}

.ability_img_icon div:nth-child(3){
	color: #FFFFFF;
	font-family: "microsoft yahei";
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
}

.ability_img_icon div:nth-child(4){
	color: #FFFFFF;
	font-family: "microsoft yahei";
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}

.upward_words{
	width: 325px;
	height: 420px;
	padding: 0 30px;
	box-sizing: border-box;
	background: #00A6C1;
	opacity: 0.9;
	overflow: hidden;
}

.upward_words_title{
	color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 32px;
	line-height: 36px;
	margin-top: 60px;
}

.upward_words_title_boder_top{
	width: 100px;
	height: 20px;
	border-top: 3px solid #ffe300;
	margin-top: 10px;
}

.upward_words_article{
	color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 16px;
	line-height: 24px;
}

.ability_box2{
	width: 100%;
	height: 580px;
	background: #f9fbfb;
	overflow: hidden;
}

.ability_box2_small{
	width: 1190px;
	height: 440px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 140px;
}

.ability_point1,.ability_point2,.ability_point3{
	width: 360px;
	height: 440px;
	padding: 50px 30px;
	box-sizing: border-box;
	float: left;
}

.ability_point1:hover,.ability_point2:hover,.ability_point3:hover{
	background: #00A6C1;
}

.ability_point1:hover .ability_point1_title,.ability_point2:hover .ability_point2_title,.ability_point3:hover .ability_point3_title{
	color: #FFFFFF;
}

.ability_point1:hover .ability_point1_article,.ability_point2:hover .ability_point2_article,.ability_point3:hover .ability_point3_article{
	color: #FFFFFF;
}

.ability_point1,.ability_point2{
	margin-right: 55px;
}

.ability_point1 img,
.ability_point2 img,
.ability_point3 img{
	margin: 0 auto;
	display: block;
}

.ability_point1_title,.ability_point2_title,.ability_point3_title{
	color: #000000;
	font-family: "microsoft yahei";
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin-top: 30px;
	pointer-event:none
}

.ability_point1_article,.ability_point2_article,.ability_point3_article{
	color: #f9fbfb;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin-top: 20px;	
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	pointer-event:none
}

.case{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.case_title{
	color: #000000;
	font-family: arial;
	font-weight: bold;
	font-size: 44px;
	line-height: 66px;
	text-align: center;
	margin-top: 60px;
}

.case_nav{
	width: 1300px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.case_nav li{
	width: 640px;
	height: 346px;
	float: left;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 5px 5px 10px #999999;
}

.case_nav li:nth-of-type(2n+1){
	margin-right: 10px;
}

.case_mask{
	width: 640px;
	height: 346px;
	position: absolute;
	left: 0;
	top: 0;
	background: #000000;
	opacity: 0;
	z-index: 999999;
	transition: opacity 0.5s;
}

.case_logo{
	width: 640px;
	height: 346px;
	position: absolute;
	left: 0;
	top: 346;
	z-index: 99999999;
	transition: transform 0.5s;
}

.case_logo img{
	width: 88px;
	height: 88px;
	display: block;
	margin: 0 auto;
	margin-top: 96px;
}

.case_logo_name{
	text-align: center;
	color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 24px;
	line-height: 35px;
	margin-top: 30px;
}

.case_nav li:hover .case_mask{
	opacity: 0.5;
}

.case_nav li:hover .case_logo{
	transform: translateY(-346px);
}

.more_case a{
	display: block;
	width: 220px;
	height: 48px;
	background: #FFE300;
	color: #000000;
	font-family: "microsoft yahei";
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 24px;
}

.about{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 60px;
	position: relative;
}

.about_img1{
	width: 100%;
}

.about_content{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.about_content_title{
	color: #FFFFFF;
	font-family: arial;
	font-weight: bold;
	font-size: 44px;
	line-height: 66px;
	text-align: center;
	margin-top: 60px;
}

.about_border_top{
	width: 100px;
	height: 70px;
	margin: 0 auto;
	border-top: 1px solid #FFFFFF;
}

.company_introduction,.team_introduction,.abilitys{
	width: 1300px;
	margin: 0 auto;
	overflow: hidden;
}

.team_introduction,.abilitys{
	margin-top: 50px;
}

.company_introduction_title,.team_introduction_title,.abilitys_title{
	height: 58px;
	line-height: 58px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "microsoft yahei";
	font-weight: bold;
}

.company_introduction_title img,.team_introduction_title img,.abilitys_title img{
	width: 58px;
	height: 58px;
	margin-right: 20px;
	float: left;
}

.company_introduction_words,.team_introduction_words,.abilitys_words{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: "microsoft yahei";
}

.company_introduction_words{
	width: 1222px;
	float: right;
}

.team_introduction_words p{
	width: 1222px;
	float: right;
}

.abilitys_words p{
	width: 1222px;
	float: right;
}

.team_introduction_words p:nth-child(2),.abilitys_words p:nth-child(2){
	margin: 10px 0;
}

.business_associates{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.business_associates_title{
	color: #000000;
	font-family: arial;
	font-weight: bold;
	font-size: 44px;
	line-height: 66px;
	text-align: center;
	margin-top: 60px;
}

.business_associates_list{
	width: 1300px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 70px;
}

.business_associates_list li{
	float: left;
	width: 260px;
	height: 122px;
}

.others{
	width: 100%;
	height: auto;
	background: #3f4546;
	text-align: center;
	overflow: hidden;
}

.others p:nth-child(1){
	margin-top: 40px;
}

.others p:nth-child(2){
	margin-top: 20px;
	color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 12px;
	line-height: 18px;
}

.others p:nth-child(3){
	margin-top: 10px;
	margin-top: 20px;
	color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 12px;
	line-height: 18px;
}

.others p:nth-child(4){
	margin-top: 10px;
	margin-top: 20px;
	color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
}

.others p:nth-child(5){
	margin-top: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 12px;
	line-height: 18px;
}


/*case_list部分*/
.casebox .head .black_ li:hover{
	border-bottom: 2px solid #000000;
}
.case_show{
	width: 100%;
	height: auto;
	background: #F9FBFB;
	overflow: hidden;
}

.case_show ul{
	width: 1300px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 25px;
	padding-bottom: 60px;
}

.case_show ul li{
	float: left;
	width: 410px;
	height: 310px;
	margin-top: 35px;
	margin-right: 35px;
	position: relative;
	overflow: hidden;
}

.case_show ul li:nth-of-type(3n){
	margin-right: 0;
}

.case_show ul li .case_detail_mask{
	width: 410px;
	height: 310px;
	position: absolute;
	left: 0;
	top: 0;
	background: #000000;
	opacity: 0;
	z-index: 5;
	transition: opacity 0.5s;
}

.case_show ul li .case_detail_logo{
	width: 410px;
	height: 310px;
	position: absolute;
	left: 0;
	top: 310px;
	z-index: 99;
	transition: transform 0.5s;
}

.case_show ul li .case_detail_logo img{
	display: block;
	width: 88px;
	height: 88px;
	margin: 0 auto;
	margin-top: 80px;
}

.case_detail_name{
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 36px;
	font-family: "microsoft yahei";
	margin-top: 30px;
}

#case_list li{
	cursor: pointer;
}

#case_list li:hover .case_detail_mask{
	opacity: 0.5;
}

#case_list li:hover .case_detail_logo{
	transform: translateY(-310px);
}

.laypage_main{
	width: 1300px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 30px;
}

.casebox .head ul li{
	border-bottom: 2px solid #ffffff;
}

.casebox .head ul li:last-child{
	border: 1px solid #000000;
}

.casebox .head ul li:nth-child(2){
	border-bottom: 2px solid #000000;
}


/*case_specific部分*/
.case_specific .head ul li{
	border-bottom: 2px solid #ffffff;
}

.case_specific .head ul li:hover{
	border-bottom: 2px solid #000000;
}

.case_specific .head ul li:last-child{
	border: 1px solid #000000;
}

.case_specific .head ul li:nth-child(2){
	border-bottom: 2px solid #000000;
}

.case_banner{
	width: 100%;
	margin-top: 60px;
}

.case_banner img{
	width: 100%;
}

.case_introduce{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F9FBFB;
}

.case_introduce_body{
	width: 1300px;
	height: auto;
	overflow: hidden;
	background: #FFFFFF;
	margin: 0 auto;
	padding-bottom: 60px;
	margin-top: 40px;
}

.case_introduce_words{
	color: #666666;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 24px;
	margin-top: 40px;
	padding: 0 50px;
	box-sizing: border-box;
}

.case_introduce_body ul{
	width: 980px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.case_introduce_body ul li{
	float: left;
	width: 400px;
	margin-top: 40px;
}

.case_introduce_body ul li:nth-of-type(2n+1){
	margin-right: 170px;
}

.case_introduce_body ul li img{
	width: 400px;
	box-shadow: 5px 5px 10px #999999;
}

.case_specific2_img{
	width: 1300px;
	margin: 0 auto;
	margin-top: 40px;
}

.return{
	width: 1300px;
	overflow: hidden;
	margin: 0 auto;
	text-align: right;
	margin-top: 40px;
}

.return a{
	display: inline-block;
	padding: 10px 30px;
	background: #CCCCCC;
	border-radius: 5px;
	color: #FFFFFF;
	margin-right: 20px;
}








